

/* single-product */
.single-product {
    margin: 12px 0;
    padding: 12px;
    background: var(--white-color);
    border-radius: 8px;
    

}
/* single-product__cheapest */
.single-product__cheapest {
    padding: 20px 0 12px;
}
.single-product__cheapest img {
    width: 100%;
}

/* single-product__subcontent */
.single-product__subcontent {
    padding: 10px 10px 2px;
    margin-bottom: 12px;
    background-color: var(--pink-color);
    border-radius: 5px ;
    font-size: 13px;
}
.single-product__subcontent p:last-child a{
    display: inline;
    color: var(--primary-color);
}

.single-product__subcontent p:nth-child(3),
.single-product__subcontent p:nth-child(6) {
    margin-bottom: 16px;
}
.single-product-subcontent__wrapper {
    display: flex;
    justify-content: start;
}
.single-product-subcontent__title {
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 18px;
    padding-top: 4px;
}

.single-product-subcontent__context {
    margin-bottom: 28px;
}
.single-product-subcontent__context p {
    margin-bottom: 8px;
    line-height: 18px;
}
.single-product-subcontent__context a {
    display: inline;
    color: var(--primary-color);
}

/* description */
.single-product__description {
    font-size: 13px;
    line-height: 28px;
    padding: 10px;
}
.single-product__description strong {
    color: var(--primary-color);
    font-size: 13px;
}




/* product info */
.single-product__info {
    /* margin-left: 10px; */
    padding-bottom: 30px;
}
.single-product__name {
    font-size: 20px;
    padding-top: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 12px;
}

.single-product__wrapper-sku {
    display: flex;
    justify-content: start;
}



.single-product__list-rom {
    display: flex;
    margin: 12px 0;
}

.single-product__rom {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 46px;
    border-radius: 8px;

}
.single-product__rom-link .single-product__rom-check{
    display: none;
}
.single-product__rom-link {
    position: relative;
}
.single-product__rom-link:hover .single-product__rom {
    color: #000;
    border-color: var(--primary-color);
}
.single-product__rom-link:not(:last-child) {
    margin-right: 16px;
}
.single-product__rom-link.single-product__rom--active 
.single-product__rom {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}
.single-product__rom-link.single-product__rom--active  .single-product__rom-check {
    position: absolute;
    object-fit: cover;
    display: block;
    top: 0;
    right: 0;
}
.single-product__label-color {
    margin: 12px 0 ;
    color: var(--grey-color);
}

.single-product__price {
    display: flex;
    justify-content: space-between;
    
}   

.single-product__price-wrapper {
    display: flex;
    align-items: baseline;
}

.single-product__sale-price {
    font-size: 35px;
    color: var(--primary-color);
    font-weight: 700;
}

.single-product__old-price {
    text-decoration: line-through;
    margin-left: 10px;
}

.single-product__pay-before {
    align-self: baseline;
    text-align: right;
}
.single-product__pay-before span{
    font-weight: 600;
    margin-top: 3px;
    display: inline-block;
}

.single-product__branch-store {
    display: block;
    width: 100%;
    padding: 4px 0;
    margin-top: 14px;
    background-color: var(--white-color);
    border: unset;
    display: flex;
    color: var(--blue-color);
}
.single-product__branch-store:hover {
    cursor: pointer;
}
.single-product__branch-store i {
    margin: 0 10px;
}

.single-product__branch-store p:first-child {
    color: var(--orange-color);
    font-size: 16px;
    font-weight: 600;
}
.single-product__branch-store p:last-child {
    color: var(--blue-color);
    font-size: 16px;
    /* margin-left: 0; */
}

/* single-product__color */


.single-product__list-color {
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
}
.single-product__color {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 34px;
    border-radius: 8px;
    font-size: 13px;
}
.single-product__color-link .single-product__color-check{
    display: none;
}
.single-product__color-link {
    position: relative;
}
.single-product__color-link:hover .single-product__color {
    color: #000;
    border-color: var(--primary-color);
}
.single-product__color-link:not(:last-child) {
    margin-right: 16px;
}
.single-product__color-link.single-product__color--active 
.single-product__color {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}
.single-product__color-link.single-product__color--active  .single-product__color-check {
    position: absolute;
    object-fit: cover;
    display: block;
    top: 0;
    right: 0;
}
.single-product__label-price {
    font-size: 15px;
    margin-bottom: 6px;
}

/* Khuyen mai */
/* promotion__content */
.promotion {
    border: 1px solid var(--pink-color);
    border-radius: 6px;
    font-size: 14px;
    margin-top: 12px;
}

.promotion__title {
    background: var(--pink-color);
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 16px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.promotion__head {
    margin-bottom: 12px;
    font-weight: 600;
}
.promotion__content {
    padding: 10px;
    overflow: hidden;
}
.promotion__big-number {
    font-size: 28px;
    font-weight: 600;
}
.promotion__content ul{
    padding-left: 18px;
    margin-right: 0;
}
ul.promotion-content__list1 {
    margin-bottom: 36px;

}

.promotion__content li {
    margin-bottom: 12px;
}
.promotion__content a {
    color: var(--blue-color);
    font-weight: 600;
    display: inline;
}
.promotion__content strong {
    color: var(--primary-color);
}
.promotion__content p small {
    color: var(--grey-color);
    padding: 15px 0 10px;
    font-style: italic;
    display: block;
}

/* single-product__order-btn */
.single-product__order-btn {
    background-color: var(--primary-color);
    margin: 12px 0;

}
.single-product__btn {
    display: block;
    width: 100%;
    height: 66px;
    color: var(--white-color);
    border: 1 px solid var(--primary-color);
    border-radius: 8px;
}
.single-product__btn:hover {
    cursor: pointer;
}
.single-product__btn:active {
    opacity: 0.8;
}
.single-product__btn p:first-child {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.single-product__btn p:last-child {
    font-size: 15px;
    margin-bottom: 0;
}
.single-product__installment-btn {
    background: #0664f9;
}
/* single-product__calltobuy */
.single-product__calltobuy {
    text-align: center;
    font-size: 15px;
    padding: 12px 0;
}
.single-product__calltobuy strong {
    color: var(--primary-color);
    font-weight: 700;
}

/* Ưu đãi */
/* promotion--green */
.promotion--green  {
    border-color: #3caea4;
    margin-top: 0;
}
.promotion--green .promotion__title {
    background-color: #3caea4;
    color: var(--white-color);
    font-size: 18px;
}
.promotion__endow-list {
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.promotion__endow-item {
    display: flex;
    align-items: center;
    padding: 9px 0;
}
.promotion__endow-item img {
    width: 20px;
}
.promotion__endow-item a {
    color: var(--blue-color);
}
.promotion__endow-item p {
    margin-left: 6px;
    margin-bottom: 0;
}


/* single-product__swiper */
.single-product__swiper {
    width: 100%;
    margin: 16px 0;
    padding: 5px;
}

.single-product__swiper-wrapper {
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s linear;
    -webkit-tap-highlight-color: transparent;

}
.single-product__swiper-item {
    display: inline-block;
    padding: 4px;
    width: calc(100%/6);
    -webkit-tap-highlight-color: transparent;
}
.single-product__swiper-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 3px 0;
    background-color: var(--white-color);
    /* border: 1px solid var(--white-color); */
    border-radius: 4px;

}
.single-product__swiper-item.single-product__swiper-item--active img {
    border: 1px solid var(--primary-color);
    
}


/* end */
.single-product__subcontent--mobile {
    display: none;
}
.single-product__description--tablet {
    display: none;
}

@media (max-width: 739px) {
    .single-product .rw {
        flex-direction: row;
    }
    .single-product__rom {
        width: 80px;
        height: 39px;
    }
    .single-product__list-color {
        flex-wrap: wrap;
    }
    .single-product__color {
        width: 93px;
    }
    .single-product__color-link {
        margin-bottom: 6px;
    }
    .single-product__price-wrapper {
        flex-direction: column;
    }
    .single-product__pay-before {
        align-self: center;
    }
    .single-product__btn p:first-child{
        font-size: 16px;
    }
    .single-product__btn p:last-child{
        font-size: 12px;
    }
    .single-product__cheapest {
        padding-top: 4px;
    }
    .single-product__info {
        display: flex;
        flex-direction: column;
    }
    

    /* sanpham tuong tu */
    .product__wrapper {
        flex-wrap: nowrap;
        max-width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: hidden;
    }
        
    .product__wrapper::-webkit-scrollbar {
        display: none;
    }

     .product__wrapper.column {
        width: 50%
    }
    /* sss */
    .header-breadcrumb {
        display: flex;
        max-width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: hidden;
    }
    .header-breadcrumb::-webkit-scrollbar {
        display: none;
    }
    .header-breadcrumb__link {
        font-size: 13px;
        display: inline-block;
        white-space:nowrap;
    }
    
}
@media (max-width: 1023px){
    .single-product__subcontent--mobile {
        display: block;
    }
}

